/* .listhead {
    text-align: center;
} */

.container {
    max-height: calc(100vh - 2*64px);
    height: calc(100vh - 2*64px);
}

.list {
    margin: 5px;
    text-align: center;
    overflow-y: auto;
    padding: 5px
}

.textElement{
    margin-right: 10px;
}