/* .listhead {
    text-align: center;
} */

.container {
    max-height: calc(100vh - 2*64px);
    height: calc(100vh - 2*64px);
}

.list {
    max-height: calc(100vh - 2*64px);
    margin: 5px;
    text-align: center;
    padding: 5px;
    overflow-y: auto;
}

.listSidenav {
    max-height: calc(100vh - 1.4*64px);
    margin: 5px;
    text-align: center;
    padding: 5px;
    overflow-y: auto;
}

.innerList {
    max-height: calc(100vh - 5*64px);
    overflow-y: auto;
}

.textElement{
    margin-right: 10px;
}