<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="'push'">

    <!-- Row 1 -->
    <mat-card class="listSidenav">
      <mat-card-title class="listhead">all Topics</mat-card-title>
      <mat-list>
        <mat-list-item class="listItem" *ngFor="let item of allTopics">
          <p class="textElement">{{item}}</p>
          <button mat-raised-button (click)="subscribeTopic(item)">Subscribe</button>
        </mat-list-item>
      </mat-list>
    </mat-card>

  </mat-sidenav>

  <mat-sidenav-content>


    <mat-toolbar>
      Main View
      <button mat-button (click)="sidenav.toggle()">Show Sidebar</button>
    </mat-toolbar>
    <div class="container" fxLayout="row" fxLayoutGap="5px">
      <mat-card class="list" fxFlex="50%">
        <mat-accordion>
          <mat-expansion-panel [expanded]="expanded">
            <mat-expansion-panel-header>
              <mat-panel-title>
                subscribed Topics
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list class="innerList">
              <mat-list-item *ngFor="let item of subscribedTopics">
                <p class="textElement">{{item}}</p>
                <button mat-raised-button (click)="inspectTopic(item)">Show</button>
                <button mat-raised-button (click)="unSubscribeTopic(item)">Unsubscribe</button>
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Topic Instances
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list class="innerList">
              <mat-list-item *ngFor="let item of topicInstances">
                <p class="textElement">{{item}}</p>
                <button mat-raised-button (click)="openDialog(item)">Inspect</button>
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card>
      <mat-card class="list" fxFlex="50%">
        <diu-form *ngIf="currentInstance" [instance]="currentInstance">
        </diu-form>
      </mat-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>